USE [master]
GO
/****** Object:  Database [WEBBANTHUOCTAY]    Script Date: 29/08/2023 8:26:23 PM ******/
CREATE DATABASE [WEBBANTHUOCTAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEBBANTHUOCTAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WEBBANTHUOCTAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WEBBANTHUOCTAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WEBBANTHUOCTAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEBBANTHUOCTAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEBBANTHUOCTAY]
GO
/****** Object:  Table [dbo].[BinhLuanSanPham]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuanSanPham](
	[idBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[idBinhLuanReply] [int] NOT NULL,
	[thoiGian] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[idThuoc] [int] NOT NULL,
	[idDonHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThuoc] ASC,
	[idDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonViTinh]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonViTinh](
	[idThuoc] [int] NOT NULL,
	[idDonViTinh] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThuoc] ASC,
	[idDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThanhPhan]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThanhPhan](
	[idThuoc] [int] NOT NULL,
	[idThanhPhan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThuoc] ASC,
	[idThanhPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangBaoChe]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangBaoChe](
	[idDangBaoChe] [int] IDENTITY(1,1) NOT NULL,
	[tenDangBaoChe] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDangBaoChe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPham]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPham](
	[idDanhGiaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[soSao] [int] NOT NULL,
	[thoiGian] [date] NOT NULL,
 CONSTRAINT [PK_DanhGiaSanPham] PRIMARY KEY CLUSTERED 
(
	[idDanhGiaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucThuoc](
	[idDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](100) NOT NULL,
	[idNhom] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuongChiDinh]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongChiDinh](
	[idDoiTuongCD] [int] IDENTITY(1,1) NOT NULL,
	[tenDoiTuongCD] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDoiTuongCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDoiTuongCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuongChiDinhThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongChiDinhThuoc](
	[idThuoc] [int] NOT NULL,
	[idDoiTuongCD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThuoc] ASC,
	[idDoiTuongCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuongDungThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongDungThuoc](
	[idThuoc] [int] NOT NULL,
	[idDoiTuongSD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThuoc] ASC,
	[idDoiTuongSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuongSuDung]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongSuDung](
	[idDoiTuongSD] [int] IDENTITY(1,1) NOT NULL,
	[tenDoiTuongSD] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDoiTuongSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDoiTuongSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[idDonHang] [int] IDENTITY(1,1) NOT NULL,
	[hoTenNguoiNhan] [nvarchar](100) NOT NULL,
	[sdt] [nchar](10) NOT NULL,
	[diaChi] [nvarchar](100) NOT NULL,
	[hinhThucMua] [bit] NOT NULL,
	[idHinhThucThanhToan] [int] NOT NULL,
	[trangThaiDonHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[idDonViTinh] [int] IDENTITY(1,1) NOT NULL,
	[donViTinh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhThuoc](
	[idHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[hinhAnh] [nvarchar](100) NOT NULL,
	[idThuoc] [int] NOT NULL,
 CONSTRAINT [PK_HinhAnhThuoc] PRIMARY KEY CLUSTERED 
(
	[idHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[idHinhThucThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[TenHinhThucThanhToan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHinhThucThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[idKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[sdt] [nchar](10) NOT NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThuoc](
	[idLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomThuoc](
	[idNhom] [int] IDENTITY(1,1) NOT NULL,
	[tenNhom] [nvarchar](100) NOT NULL,
	[idLoai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuocGia]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia](
	[idQuocGia] [int] IDENTITY(1,1) NOT NULL,
	[tenQuocGia] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idQuocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenQuocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPhanThuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPhanThuoc](
	[idThanhPhan] [int] IDENTITY(1,1) NOT NULL,
	[tenThanhPhan] [nvarchar](100) NOT NULL,
	[moTa] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[idThanhPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenThanhPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[idThuoc] [int] IDENTITY(1,1) NOT NULL,
	[tenThuoc] [nvarchar](100) NOT NULL,
	[moTa] [text] NULL,
	[congDung] [text] NULL,
	[cachDung] [text] NULL,
	[tacDungPhu] [text] NULL,
	[baoQuan] [text] NULL,
	[luuY] [text] NULL,
	[idDanhMuc] [int] NOT NULL,
	[idThuongHieu] [int] NOT NULL,
	[idDangBaoChe] [int] NOT NULL,
 CONSTRAINT [PK__Thuoc__301D31E6A06F9595] PRIMARY KEY CLUSTERED 
(
	[idThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Thuoc__4BDFA3CB3490DA99] UNIQUE NONCLUSTERED 
(
	[tenThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 29/08/2023 8:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[idThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[tenThuongHieu] [nvarchar](100) NOT NULL,
	[moTa] [text] NULL,
	[avatarThuongHieu] [nvarchar](100) NOT NULL,
	[idQuocGia] [int] NOT NULL,
 CONSTRAINT [PK__ThuongHi__909F29FCBE7380DC] PRIMARY KEY CLUSTERED 
(
	[idThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__ThuongHi__3D4C7754634272F3] UNIQUE NONCLUSTERED 
(
	[tenThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BinhLuanSanPham]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanSanPham_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[BinhLuanSanPham] CHECK CONSTRAINT [FK_BinhLuanSanPham_KhachHang]
GO
ALTER TABLE [dbo].[BinhLuanSanPham]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanSanPham_Thuoc] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[BinhLuanSanPham] CHECK CONSTRAINT [FK_BinhLuanSanPham_Thuoc]
GO
ALTER TABLE [dbo].[BinhLuanSanPham]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanSanPham_Thuoc1] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[BinhLuanSanPham] CHECK CONSTRAINT [FK_BinhLuanSanPham_Thuoc1]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([idDonHang])
REFERENCES [dbo].[DonHang] ([idDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Thuoc] FOREIGN KEY([idThuoc])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Thuoc]
GO
ALTER TABLE [dbo].[ChiTietDonViTinh]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonViTinh_DonViTinh] FOREIGN KEY([idDonViTinh])
REFERENCES [dbo].[DonViTinh] ([idDonViTinh])
GO
ALTER TABLE [dbo].[ChiTietDonViTinh] CHECK CONSTRAINT [FK_ChiTietDonViTinh_DonViTinh]
GO
ALTER TABLE [dbo].[ChiTietDonViTinh]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonViTinh_Thuoc] FOREIGN KEY([idThuoc])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonViTinh] CHECK CONSTRAINT [FK_ChiTietDonViTinh_Thuoc]
GO
ALTER TABLE [dbo].[ChiTietThanhPhan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThanhPhan_ThanhPhanThuoc] FOREIGN KEY([idThanhPhan])
REFERENCES [dbo].[ThanhPhanThuoc] ([idThanhPhan])
GO
ALTER TABLE [dbo].[ChiTietThanhPhan] CHECK CONSTRAINT [FK_ChiTietThanhPhan_ThanhPhanThuoc]
GO
ALTER TABLE [dbo].[ChiTietThanhPhan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThanhPhan_Thuoc] FOREIGN KEY([idThuoc])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[ChiTietThanhPhan] CHECK CONSTRAINT [FK_ChiTietThanhPhan_Thuoc]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPham_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGiaSanPham_KhachHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPham_Thuoc] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGiaSanPham_Thuoc]
GO
ALTER TABLE [dbo].[DanhMucThuoc]  WITH CHECK ADD FOREIGN KEY([idNhom])
REFERENCES [dbo].[NhomThuoc] ([idNhom])
GO
ALTER TABLE [dbo].[DoiTuongChiDinhThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiTuongChiDinhThuoc_DoiTuongChiDinh] FOREIGN KEY([idDoiTuongCD])
REFERENCES [dbo].[DoiTuongChiDinh] ([idDoiTuongCD])
GO
ALTER TABLE [dbo].[DoiTuongChiDinhThuoc] CHECK CONSTRAINT [FK_DoiTuongChiDinhThuoc_DoiTuongChiDinh]
GO
ALTER TABLE [dbo].[DoiTuongChiDinhThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiTuongChiDinhThuoc_Thuoc] FOREIGN KEY([idThuoc])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[DoiTuongChiDinhThuoc] CHECK CONSTRAINT [FK_DoiTuongChiDinhThuoc_Thuoc]
GO
ALTER TABLE [dbo].[DoiTuongDungThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiTuongDungThuoc_DoiTuongSuDung] FOREIGN KEY([idDoiTuongSD])
REFERENCES [dbo].[DoiTuongSuDung] ([idDoiTuongSD])
GO
ALTER TABLE [dbo].[DoiTuongDungThuoc] CHECK CONSTRAINT [FK_DoiTuongDungThuoc_DoiTuongSuDung]
GO
ALTER TABLE [dbo].[DoiTuongDungThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiTuongDungThuoc_Thuoc] FOREIGN KEY([idThuoc])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[DoiTuongDungThuoc] CHECK CONSTRAINT [FK_DoiTuongDungThuoc_Thuoc]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_HinhThucThanhToan] FOREIGN KEY([idHinhThucThanhToan])
REFERENCES [dbo].[HinhThucThanhToan] ([idHinhThucThanhToan])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HinhAnhThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhThuoc_Thuoc] FOREIGN KEY([idThuoc])
REFERENCES [dbo].[Thuoc] ([idThuoc])
GO
ALTER TABLE [dbo].[HinhAnhThuoc] CHECK CONSTRAINT [FK_HinhAnhThuoc_Thuoc]
GO
ALTER TABLE [dbo].[NhomThuoc]  WITH CHECK ADD FOREIGN KEY([idLoai])
REFERENCES [dbo].[LoaiThuoc] ([idLoai])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK__Thuoc__idThuongH__5AEE82B9] FOREIGN KEY([idThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([idThuongHieu])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK__Thuoc__idThuongH__5AEE82B9]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_DangBaoChe] FOREIGN KEY([idDangBaoChe])
REFERENCES [dbo].[DangBaoChe] ([idDangBaoChe])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_DangBaoChe]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_DanhMucThuoc] FOREIGN KEY([idDanhMuc])
REFERENCES [dbo].[DanhMucThuoc] ([idDanhMuc])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_DanhMucThuoc]
GO
ALTER TABLE [dbo].[ThuongHieu]  WITH CHECK ADD  CONSTRAINT [FK__ThuongHie__idQuo__571DF1D5] FOREIGN KEY([idQuocGia])
REFERENCES [dbo].[QuocGia] ([idQuocGia])
GO
ALTER TABLE [dbo].[ThuongHieu] CHECK CONSTRAINT [FK__ThuongHie__idQuo__571DF1D5]
GO
USE [master]
GO
